[Unit]
Description=Timetracking daemon

[Service]
Type=simple
WorkingDirectory=/opt/Timetrack/src/
ExecStart=/opt/Timetrack/src/timetrack.py

[Install]
WantedBy=multi-user.target
